* {
margin:0px;
padding:0px;
}
body {
    background:#0f0f0f;
}
div#contenedor{
margin: 0 auto;
width: 1560px;
height:600px;
}
div#bannerizquierda {
background:#0f0f0f;
width:150px; 
height:760px;
float:left;
}
div#bannerderecha {
background:#0f0f0f; 
width:150px; 
height:760px;
float:right;
}
div#data {
background:#0f0f0f; 
width:1220px; 
height:600px;
display:inline-block;
}
div#bannerabajo {
margin: 0 auto;
background:#0f0f0f; 
width:1560px; 
height:100px;
margin-top:2px;
}
div#menu {
margin: 0 auto;
background:#0f0f0f; 
width:1580px; 
height:65px;
margin-top:10px;
}
div#spot {
margin: 0 auto;
background:#0f0f0f; 
width:1580px; 
height:160px;
}